<style>

#game {
  overflow: auto;
  width: 300px
  height: 300px;
  border: 1px solid #ddd;
  background: #eee;
  padding: 10px;
}
#game div {
  clear: both;
}
#game button {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px 10px;
}
#gameActionDisplay {
  padding: 20px 10px;
}

</style>
